<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="pt-br">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HomeHelp</title>

    <meta name="description" content="HomeHelp">
    <meta name="author" content="David Lira, Janilson Junior, Lucas Rosa, Matheus Frazão, Novack Borges">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon" />

    <!-- Bibliotecas CSS -->
    <link href="../../css/lib/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../css/all.css" rel="stylesheet" type="text/css" />
    <link href="../../css/cliente.css" rel="stylesheet" type="text/css" />
</head>

<body ng-app="app">
    <!--[if lt IE 7]>
				<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="../../index.html"> <img src="../../img/logo-nome.png" alt="Logo" style="width: 150px;" /></a>
    </nav>
    <div class="container" ng-controller="CadastroClienteCtrl">

        <div class="toast" style="position: absolute; top: 15px; right: 15px;">
            <div class="toast-header">
                <strong class="mr-auto">{{status}}</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{mensagem}}
            </div>
        </div>

        <form class="needs-validation" style="background-color: #ffffff5e; margin-top: 2%; height: 100%; padding: 2%" novalidate>
            <div class="row">
                <input type="hidden" ng-model="cliente.id" />
                <!-- Dados Pessoais -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h4 style="text-align: center">
                        <i class="fas fa-address-card"></i>&nbsp;Dados Pessoais
                    </h4>
                    <hr>
                    <!-- Nome do Cliente -->
                    <div class="form-group">
                        <label for="ClienteNome">Nome*</label>
                        <input type="text" maxlength="50" class="form-control" placeholder="Nome" id="ClienteNome" title="Nome" ng-model="cliente.nome">
                    </div>
                    <!-- Sobrenome do Cliente -->
                    <div class="form-group">
                        <label for="ClienteSobrenome">Sobrenome*</label>
                        <input type="text" maxlength="50" class="form-control" placeholder="Sobrenome" id="ClienteSobrenome" title="Sobrenome" ng-model="cliente.sobrenome">
                    </div>
                    <!-- Data de Nascimento do Cliente -->
                    <div class="form-group">
                        <label for="ClienteDataNascimento">Data de Nascimento</label>
                        <input type="text" class="form-control" id="ClienteDataNascimento" title="Data de Nascimento" data-mask="00/00/0000" placeholder="00/00/0000" data-mask-selectonfocus="true" ng-model="cliente.dataNascimento">
                    </div>
                    <!-- Sexo do Cliente -->
                    <div class="form-group">
                        <label for="ClienteSexo">Sexo</label>
                        <select class="custom-select" ng-model="cliente.sexo" title="Selecione o Sexo" id="ClienteSexo">
                            <option value=""></option>
                            <option value="Masculino" title="Masculino">Masculino</option>
                            <option value="Feminino" title="Feminino">Feminino</option>
                            <option value="Outros" title="Feminino">Outros e Indefinido</option>
                        </select>
                    </div>
                    <!-- CPF do Cliente -->
                    <div class="form-group">
                        <label for="ClienteCPF">CPF</label>
                        <input type="text" class="form-control" id="ClienteCPF" title="CPF" data-mask="000.000.000-00" placeholder="000.000.000-00" data-mask-selectonfocus="true" ng-model="cliente.cpf">
                    </div>
                </div>

                <!-- Contato e Login-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <h4 style="text-align: center">
                            <i class="fas fa-envelope"></i>&nbsp;Contato
                        </h4>
                        <hr>
                        <!-- Celular do Cliente -->
                        <label for="ClienteTelefone">Celular*</label>
                        <input type="text" class="form-control" id="ClienteTelefone" title="Celular" data-mask="(00)00000-0000" placeholder="(00)00000-0000" data-mask-selectonfocus="true" ng-model="cliente.telefone">
                    </div>
                    <!-- Email do Cliente -->
                    <div class="form-group">
                        <label for="ClienteEmail">E-mail*</label>
                        <input type="email" class="form-control" placeholder="Email" id="ClienteEmail" title="Email" ng-model="cliente.email">
                    </div>

                    <!-- Login -->
                    <h4 style="text-align: center">
                        <i class="fas fa-user"></i>&nbsp;Login
                    </h4>
                    <hr>
                    <!-- Senha do Cliente -->
                    <div class="form-group">
                        <label for="ClienteSenha">Senha*</label>
                        <input type="password" class="form-control" placeholder="******" id="ClienteSenha" title="Senha" ng-model="cliente.senha">
                    </div>
                </div>
                <!-- Termos e Condições -->
                <div class="col-12" align="center">
                    <div class="form-group" align="left">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck">
                            <label class="form-check-label" for="invalidCheck">Concordo com os termos e condições </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='../cadastro/opcao.html';">Voltar</button>
                    <button type="button" class="btn btn-success" ng-click="cadastrar()">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Bibliotecas JavaScript -->
    <script src="../../js/lib/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="../../js/lib/jquery.mask.min.js" type="text/javascript"></script>
    <script src="../../js/lib/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../../js/lib/angular.min.js" type="text/javascript"></script>

    <!-- Componentes AngularJS -->
    <script src="../../controllers/main.js" type="text/javascript"></script>
    <script src="../../controllers/cliente.js" type="text/javascript"></script>
</body>

</html>