<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="pt-br">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HomeHelp</title>

    <meta name="description" content="HomeHelp">
    <meta name="author" content="David Lira, Janilson Junior, Lucas Rosa, Matheus Frazão, Novack Borges">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon" />

    <!--Biblioteca JavaScript-->
    <link rel="stylesheet" href="../../css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/all.css">
</head>

<body ng-app="app">
    <!--[if lt IE 7]>
				<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="../../index.html"> <img src="../../img/logo-nome.png" style="width: 150px;"></a>
    </nav>
    <div class="container" ng-controller="CadastroPrestadorCtrl">
        <form class="needs-validation" style="background-color: #ffffff5e; margin-top: 2%; height: 100%; padding: 2%" novalidate ng-submit="cadastrar()">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-end">
                        <div class="alert alert-success alert-dismissible fade show" role="alert" id="sucesso">
                            Cadastrado com sucesso
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="erro">
                            Por favor, preencher todos os dados
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" ng-model="prestador.id" />
                <!-- Dados Pessoais -->
                <div class="col-12">
                    <h4 style="text-align: center">
                        <i class="fas fa-address-card"></i>&nbsp;Dados Pessoais
                    </h4>
                    <hr>
                    <!-- Nome do Prestador -->
                    <div class="form-group">
                        <label for="PrestadorNome">Nome*</label>
                        <input type="text" maxlength="50" class="form-control" placeholder="Nome" id="PrestadorNome" title="Nome" ng-model="prestador.nome" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- Sobrenome do Prestador -->
                    <div class="form-group">
                        <label for="PrestadorSobrenome">Sobrenome*</label>
                        <input type="text" maxlength="50" class="form-control" placeholder="Sobrenome" id="PrestadorSobrenome" ng-model="prestador.sobrenome">
                    </div>
                    <!-- Data de Nascimento do Prestador -->
                    <div class="form-group">
                        <label for="PrestadorDataNascimento">Data de Nascimento</label>
                        <input type="text" class="form-control" id="PrestadorDataNascimento" title="Data de Nascimento" data-mask="00/00/0000" placeholder="00/00/0000" data-mask-selectonfocus="true" ng-model="prestador.dataNascimento">
                    </div>
                    <!-- Sexo do Prestador -->
                    <div class="form-group">
                        <label for="PrestadorSexo">Sexo</label>
                        <select class="custom-select" ng-model="prestador.sexo" title="Selecionar o Sexo" id="PrestadorSexo">
								<option value=""></option>
								<option value="Masculino" title="Masculino">Masculino</option>
								<option value="Feminino" title="Feminino">Feminino</option>
								<option value="Outros" title="Outros e Indefinido">Outros e Indefinido</option>
							</select>
                    </div>
                    <!-- CPF do Prestador -->
                    <div class="form-group">
                        <label for="PrestadorCPF">CPF</label>
                        <input type="text" class="form-control" id="PrestadorCPF" title="CPF" data-mask="000.000.000-00" placeholder="000.000.000-00" data-mask-selectonfocus="true" ng-model="prestador.cpf">
                    </div>
                </div>

                <!-- Contato -->
                <div class="col-12">
                    <div class="form-group">
                        <h4 style="text-align: center">
                            <i class="fas fa-envelope"></i>&nbsp;Contato
                        </h4>
                        <hr>
                        <!-- Celular do Prestador -->
                        <label for="PrestadorTelefone">Celular*</label>
                        <input type="text" class="form-control" id="PrestadorTelefone" title="Celular" data-mask="(00)00000-0000" placeholder="(00)00000-0000" data-mask-selectonfocus="true" ng-model="prestador.telefone">
                    </div>
                    <!-- Email do Prestador -->
                    <div class="form-group">
                        <label for="ClienteEmail">E-mail*</label>
                        <input type="email" class="form-control" placeholder="Email" id="PrestadorEmail" title="Email" ng-model="prestador.email">
                    </div>
                </div>

                <!-- Login -->
                <div class="col-12">
                    <h4 style="text-align: center">
                        <i class="fas fa-user"></i>&nbsp;Login
                    </h4>
                    <hr>
                    <!-- Senha do Cliente -->
                    <div class="form-group">
                        <label for="PrestadorSenha">Senha*</label>
                        <input type="password" class="form-control" placeholder="******" id="PrestadorSenha" title="Senha" ng-model="prestador.senha">
                    </div>
                </div>
                <div class="col-12" align="center">
                    <div class="form-group" align="left">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck"> Concordo com os termos e condições </label>
                            <div class="invalid-feedback">Você deve concordar com os termos, antes de continuar.</div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='../cadastro/opcao.html';">Voltar</button>
                    <button type="submit" value="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>

    <!--Biblioteca JavaScript-->
    <script src="../../js/lib/jquery-3.4.1.min.js"></script>
    <script src="../../js/lib/jquery.mask.min.js"></script>
    <script src="../../js/lib/bootstrap.bundle.min.js"></script>
    <script src="../../js/lib/angular.min.js"></script>

    <!-- Componentes AngularJS -->
    <script src="../../controllers/main.js"></script>
    <script src="../../controllers/prestador.js"></script>
</body>

</html>