<link href="css/menu.css" rel="stylesheet"/>
<header>
	<!-- Menu Superior-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
		<a class="navbar-brand" href="/prestador/inicio">
			<img src="../../img/logo-nome.png" class="d-inline-block align-top img-fluid float-left" alt="logo-homehelp" width="150px">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/prestador/reparos">Meus Reparos&nbsp;<i class="fas fa-toolbox"></i></a>
				</li>
				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
						<img src="../../img/administrador.jpg" class="d-inline-block align-top img-fluid float-left usuario rounded-circle" alt="usuario-homehelp" width="125px"> &nbsp;{{presLogado.pres.nome}}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/prestador/dados-pessoais">Dados Pessoais</a>
					 	<a class="dropdown-item" href="/prestador/banco">Dados Bancários</a>
				 		<a class="dropdown-item" href="/prestador/configuracao">Configuração</a> 
						<a class="dropdown-item" href="/">Sair</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div class="container">
	<br>
	<div class="row">
		<div class="col-12 col-xl-12">
			<h4>Dados Bancários</h4>
			<hr>	
		</div>
		<div class="col-12 col-xl-12">
			<div class="card" ng-repeat="conta in contas" ng-show="conta.titular.id == presLogado.pres.id" style="margin-top: 10px;">
			    <div class="card-body">
			        <div class="row">
			        	<div class="col-3">
			        		<h5 class="card-title"><i class="fas fa-money-check-alt"></i>&nbsp; {{conta.banco}}</h5>
			        	</div>
			        	<div class="col-3">
			        		<h5 class="card-title"><i class="fas fa-money-check-alt"></i>&nbsp;Agência: {{conta.agencia}}</h5>
			        	</div>
			        	<div class="col-3">
			        		<h5 class="card-title"><i class="fas fa-money-check-alt"></i>&nbsp;Conta: {{conta.numero}}</h5>
			        	</div>			        				        	
			        	<div class="col-3">
			        		<button type="button" class="btn btn-danger" ng-click="excluirConta(conta)">Excluir</button>
			        	</div>
			        </div>
			    </div>
			</div>
		</div>
		<div class="col-12 col-xl-12">
			<br>
			<a class="btn btn-primary" href="/prestador/inicio" role="button">Voltar</a>
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditarPagamentoPrestadorModal">Cadastrar</button>
		</div>	
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="EditarPagamentoPrestadorModal" tabindex="-1" role="dialog" aria-labelledby="EditarPagamentoPrestadorModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	    	<div class="modal-header">
				<h5 class="modal-title" id="EditarPagamentoPrestadorModal">Conta Bancária</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form ng-submit="salvarConta()">
					<div class="row">
						<div class="form-group col-12">
						    <label for="PrestadorBanco">Banco</label>
						    <select class="custom-select" id="PrestadorBanco" required title="Banco da Conta" ng-model="conta.banco">
								<option value=""></option>
						        <option value="Banco do Brasil">Banco do Brasil</option>
						        <option value="Caixa Economica">Caixa Econômica</option>
						        <option value="Santander">Santander</option>
						        <option value="Bradesco">Bradesco</option>
						    </select>
						</div>
						<!-- Prestador Agência -->
						<div class="form-group col-12">
						    <label for="PrestadorContaAgencia">Agência</label>
						    <input type="text" class="form-control" id="PrestadorContaAgencia" title="Agência da Conta do Prestador" ng-model="conta.agencia">
						</div>
						<!-- Prestador Conta -->
						<div class="form-group col-12">
						    <label for="PrestadorNumeroConta">Conta</label>
						    <input type="text" class="form-control" id="PrestadorNumeroConta" title="Número da Conta do Prestador" ng-model="conta.numero">
						</div>                     
					</div>
				    <div class="form-group col-12">
						<button type="button" class="btn btn-danger" id="FecharEditarPrestadorPagamento" data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-success" id="SalvarEditarPrestadorPagamento">Salvar</button>
					</div>						
				</form>
			</div>	
		</div>	  
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="DetalhesPagamentoPrestadorModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesPagamentoPrestadorModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	    	<div class="modal-header">
				<h5 class="modal-title" id="DetalhesPagamentoPrestadorModal">Conta Bancária</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form ng-submit="salvarConta()">
					<div class="row">
						<div class="form-group col-12">
						    <label for="PrestadorBanco">Banco</label>
						    <select class="custom-select" id="PrestadorBanco" required title="Banco da Conta" ng-model="conta.banco">
								<option value=""></option>
						        <option value="Banco do Brasil">Banco do Brasil</option>
						        <option value="Caixa Economica">Caixa Econômica</option>
						        <option value="Santander">Santander</option>
						        <option value="Bradesco">Bradesco</option>
						    </select>
						</div>
						<!-- Prestador Agência -->
						<div class="form-group col-12">
						    <label for="PrestadorContaAgencia">Agência</label>
						    <input type="text" class="form-control" id="PrestadorContaAgencia" title="Agência da Conta do Prestador" ng-model="conta.agencia">
						</div>
						<!-- Prestador Conta -->
						<div class="form-group col-12">
						    <label for="PrestadorNumeroConta">Conta</label>
						    <input type="text" class="form-control" id="PrestadorNumeroConta" title="Número da Conta do Prestador" ng-model="conta.numero">
						</div>                     
					</div>
				    <div class="form-group col-12">
						<button type="button" class="btn btn-danger" id="FecharEditarPrestadorPagamento" data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-success" id="SalvarEditarPrestadorPagamento">Salvar</button>
					</div>						
				</form>
			</div>	
		</div>	  
	</div>
</div>