<link href="css/menu.css" rel="stylesheet"/>
<header>
	<!-- Menu Superior-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
		<a class="navbar-brand" href="/prestador/inicio">
			<img src="../../img/logo-nome.png" class="d-inline-block align-top img-fluid float-left" alt="logo-homehelp" width="150px">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/prestador/reparos">Meus Reparos&nbsp;<i class="fas fa-toolbox"></i></a>
				</li>
				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
						<img src="../../img/administrador.jpg" class="d-inline-block align-top img-fluid float-left usuario rounded-circle" alt="usuario-homehelp" width="125px"> &nbsp;{{presLogado.pres.nome}}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/prestador/dados-pessoais">Dados Pessoais</a>
					 	<a class="dropdown-item" href="/prestador/banco">Dados Bancários</a>
				 		<a class="dropdown-item" href="/prestador/configuracao">Configuração</a> 
						<a class="dropdown-item" href="/">Sair</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>
<div class="container">
	<div class="toast" style="position: absolute; top: 15px; right: 15px;">
		<div class="toast-header">
			<strong class="mr-auto">{{status}}</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">{{mensagem}}</div>
	</div>

	<form style="background-color: #ffffff5e; margin-top: 2%; height: 100%;" novalidate name="formUpdateDadosPrestador" ng-submit="alterarPrestador()">
		<div class="row">
			<!-- Dados Pessoais -->
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
				
				<!-- Titulo Dados Pessoais -->
				<div class="form-group">
					<h5 style="text-align: center">
						<i class="fas fa-address-card"></i>&nbsp;Dados Pessoais
					</h5>
				</div>
				<hr>
				
				<!-- Nome do Prestador -->
				<div class="form-group">
					<label for="PrestadorNome">Nome</label>
					<input type="text" class="form-control" placeholder="Nome" id="PrestadorNome" name="txtNome" title="Nome" ng-model="presLogado.pres.nome" disabled readonly>
				</div>
				
				<!-- Data de Nascimento do Prestador -->
				<div class="form-group">
					<label for="PrestadorDataNascimento">Data de Nascimento</label> 
					<input type="text" class="form-control" id="PrestadorDataNascimento" name="txtDtNasc" title="Data de Nascimento" data-mask="00/00/0000" placeholder="00/00/0000" data-mask-selectonfocus="true" ng-model="presLogado.pres.dataNascimento" disabled readonly>
				</div>
				
				<!-- Sexo do Prestador -->
				<div class="form-group">
					<label for="PrestadorSexo">Gênero</label>
					<select class="custom-select" title="Selecionar o Sexo" id="PrestadorSexo" name="txtSexo" ng-model="presLogado.pres.sexo" disabled readonly>
						<option value=""></option>
						<option value="Masculino" title="Masculino">Masculino</option>
						<option value="Feminino" title="Feminino">Feminino</option>
						<option value="Outros e Indefinido" title="Outros e Indefinido">Outros e Indefinido</option>
					</select>
				</div>
				
				<!-- CPF do Prestador -->
				<div class="form-group">
					<label for="PrestadorCPF">CPF</label> 
					<input type="text" class="form-control" id="PrestadorCPF" name="txtCPF" title="CPF" data-mask="000.000.000-00" placeholder="000.000.000-00" data-mask-selectonfocus="true" ng-model="presLogado.pres.cpf" disabled readonly>
				</div>
				
				<!-- Tipo de Prestador -->
				<div class="form-group">
					<label for="PrestadorTipo">Tipo de serviço a ser prestado</label> 
					<select class="custom-select" title="Selecionar tipo de serviço" id="PrestadorTipo" name="txtTipo" ng-model="presLogado.pres.habilidade" disabled readonly>
						<option value=""></option>
						<option value="Hidraulica" title="Hidraulica">Hidráulico</option>
						<option value="Reparo" title="Reparo">Reparos</option>
						<option value="Acabamento" title="Acabamento">Acabamento</option>
						<option value="Eletricista" title="Eletricista">Elétrico</option>
					</select>
				</div>
			</div>

			<!-- Contato -->
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
			
				<!-- Titulo Contato -->
				<div class="form-group">
					<h5 style="text-align: center">
						<i class="fas fa-envelope"></i>&nbsp;Contato
					</h5>
				</div>
				<hr>
			
				<!-- Celular do Prestador -->
				<div class="form-group">
					<label for="PrestadorCelular">Celular</label> 
					<input type="text" class="form-control" id="PrestadorCelular" name="txtCelular" title="Celular" data-mask="(00)00000-0000" placeholder="(00)00000-0000" data-mask-selectonfocus="true" ng-model="presLogado.pres.celular" disabled readonly>
				</div>
				
				<!-- Email do Prestador -->
				<div class="form-group">
					<label for="ClienteEmail">E-mail</label> 
					<input type="email" class="form-control" placeholder="Email" id="PrestadorEmail" name="txtEmail" title="Email" ng-model="presLogado.pres.email" disabled readonly>
				</div>
			
				<!-- Titulo Login -->
				<h5 style="text-align: center">
					<i class="fas fa-user"></i>&nbsp;Login
				</h5>
				<hr>
			
				<!-- Senha do Prestador-->
				<div class="form-group">
					<label for="PrestadorSenha">Senha</label> 
					<span ng-show="formUpdateDadosPrestador.txtSenha.$error.required && formUpdateDadosPrestador.txtSenha.$dirty" style="color: red;"><i>- Obrigatório</i></span>
					<span ng-show="formUpdateDadosPrestador.txtSenha.$error.minlength" style="color: red;"><i>- A senha deverá ter no mínimo 8 caracteres</i></span>
					<input type="password" class="form-control" placeholder="******" id="PrestadorSenha" name="txtSenha" title="Senha" ng-model="presLogado.pres.senha" required> 
					<small id="passwordHelpBlock" class="form-text text-muted">Sua senha deverá possuir entre 8-20 caracteres de comprimento</small>
				</div>
			</div>
			
			<div class="col-12" align="center">
				<a class="btn btn-primary" href="/prestador/inicio" role="button">Voltar</a>
				<button type="submit" ng-disabled="formUpdateDadosPrestador.$invalid" class="btn btn-success">Salvar</button>
			</div>
		</div>
	</form>
</div>