<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body ng-app="app">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div ng-controller="ValidacaoController">

        <form ng-submit="validar()">
            <label for="data">Data de Nascimento</label>
            <input type="text" id="data" ng-model="data.nascimento">
            <label for="hora">Hora</label>
            <input type="text" id="hora" ng-model="data.hora">
            <button type="submit">Verificar</button>
            <button type="button" ng-click="limpar()">Limpar</button>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script>
        var app = angular.module("app", [])

        app.controller("ValidacaoController", function($scope) {
            $scope.data = {}


            $("#data").mask("39/12/2999", {
                placeholder: "__/__/____",
                selectOnFocus: true,
                clearIfNotMatch: true,
                translation: {
                    1: {
                        pattern: /[0-1]/
                    },
                    2: {
                        pattern: /[0-2]/
                    },
                    3: {
                        pattern: /[0-3]/
                    },
                    4: {
                        pattern: /[0-4]/
                    },
                    9: {
                        pattern: /[0-9]/
                    }
                }
            });

            $("#hora").mask("23:59", {
                placeholder: "__:__",
                selectOnFocus: true,
                clearIfNotMatch: true,
                translation: {
                    2: {
                        pattern: /[0-2]/
                    },
                    3: {
                        pattern: /[0-9]/
                    },
                    5: {
                        pattern: /[0-5]/
                    },
                    9: {
                        pattern: /[0-9]/
                    }
                }
            });

            $scope.validar = function() {
                if (verificadata($scope.data.nascimento) == 2) {
                    console.log("Insira uma data menor que a data atual")
                } else if (verificadata($scope.data.nascimento) == 3) {
                    console.log("Insira uma data diferente da atual")
                } else if (verificadata($scope.data.nascimento) == 4) {
                    console.log("Pessoa Menor de idade")
                }
            }
            $scope.limpar = function() {
                $scope.data = {}
            }
        })

        function verificadata(data) {
            var dia = data.substring(0, 2);
            var mes = data.substring(3, 5);
            var ano = data.substring(6, 10);
            var dataFormatada = Date.parse(mes + "/" + dia + "/" + ano);


            var now = new Date()
            var hojeDia = now.getDay() + 1
            var hojeMes = now.getMonth() + 1
            var hojeAno = now.getFullYear()
            var anoMenorIdade = now.getFullYear() - 18
            var dataMenorIdade = Date.parse(hojeMes + "/" + hojeDia + "/" + anoMenorIdade)
            var hoje = Date.parse(hojeMes + "/" + hojeDia + "/" + hojeAno)
			var dataAntiga Date.parse(hojeMes + "/" + hojeDia + "/" + 1920)
            
            if (dataFormatada > hoje) {
                return 2
            } else if (dataFormatada == hoje) {
                return 3
            } else if (dataFormatada > dataMenorIdade) {
                return 4
            } else if (dataFormatada <= dataAntiga) {
            	return 5
            }
        }
    </script>
</body>

</html>