<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body ng-app="app">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div ng-controller="ValidacaoController">

        <form ng-submit="validar()">
            <label for="data">Data de Nascimento</label>
            <input type="text" id="data" ng-model="data.nascimento">
            <label for="hora">Hora</label>
            <input type="text" id="hora" ng-model="data.hora">
            <button type="submit">Verificar</button>
            <button type="button" ng-click="limpar()">Limpar</button>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script>
        var app = angular.module("app", [])

        app.controller("ValidacaoController", function($scope) {
                    $scope.data = {}
                    if ((verificadata($scope.hidraulica.data) == 3) && (verificahora($scope.hidraulica.horario) == 1 || verificahora($scope.hidraulica.horario) == 6)) {
                        console.log("Insira um horário válido")
                    }
                    function verificahora(hora) {
                        var horario = hora.substring(0, 2);
                        var minutos = hora.substring(3, 5);
                        console.log("A hora atual é: " + horario + ":" + minutos)

                        var now = new Date();
                        var hojeHora = now.getHours();
                        var hojeMinutos = now.getMinutes();

                        if (horario > 23 || minutos > 59) {
                            console.log("Insira uma hora válida")
                            return 2
                        } else if (horario < hojeHora) {
                            console.log("horario inválido, insira uma hora maior que a atual")
                            return 3
                        } else if (horario == hojeHora) {
                            console.log("Insira uma hora maior que a atual")
                            return 4
                        } else if ((horario == hojeHora) && (minutos < hojeMinutos)) {
                            console.log("Insira uma hora maior que a atual")
                            return 5
                        } else if ((horario < hojeHora) || (minutos < hojeMinutos)) {
                            console.log("Insira uma hora maior que a atual")
                            return 6
                        }

                        //Se a hora for maior que a atual e a data for igual a hora = agenda
                        //Se a data for maior que a atual, a hora pode ser qualquer
                    }
    </script>
</body>

</html>