<link href="css/login.css" rel="stylesheet"/>
<a href="/"><img src="img/logo.png" alt="" width="80px" /></a>
<div class="container">
	<div class="toast" style="position: absolute; top: 15px; right: 15px;">
		<div class="toast-header">
			<strong class="mr-auto">{{status}}</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">{{mensagem}}</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12 col-md-9">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<div class="row">
						<div class="col-lg-6 d-none d-lg-block bg-login-image-pres"></div>
						<div class="col-lg-6">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Bem Vindo de Volta!</h1>
								</div>
								<form class="user" novalidate name="formLoginPrestador" ng-submit="autenticarPrestador()">
									<div class="form-group">
										<input type="email" minlength="4" maxlength="250" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email" ng-model="userPrestador.email" required>
									</div>
									<div class="form-group">
										<input type="password" minlength="8" maxlength="20" class="form-control form-control-user" id="exampleInputPassword" placeholder="Senha" ng-model="userPrestador.senha" required>	
									</div>
									<button type="submit" class="btn btn-primary" ng-disabled="formLoginPrestador.$invalid">Login</button>
								</form>
								<hr>
								<div class="text-center">
									<a class="small" href="/recuperar-prestador">Esqueceu a Senha?</a>
								</div>
								<div class="text-center">
									<a class="small" href="/cadastro/opcao">Criar uma nova conta!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
