<link href="css/menu.css" rel="stylesheet"/>
<header>
	<!-- Menu Superior-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
		<a class="navbar-brand" href="/cliente/inicio">
			<img src="../../img/logo-nome.png" class="d-inline-block align-top img-fluid float-left" alt="logo-homehelp" style="width: 150px;">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/cliente/solicitacoes">Minhas Solicitações &nbsp;<i class="fas fa-archive"></i></a>
				</li>
				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
						<img src="img/administrador.jpg" class="d-inline-block align-top img-fluid float-left usuario rounded-circle" alt="usuario-homehelp" width="125px"> &nbsp; {{cliLogado.cliente.nome}}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/cliente/dados-pessoais">Dados Pessoais</a>
						<a class="dropdown-item" href="/cliente/configuracao">Configurações</a> 
						<a class="dropdown-item" href="/">Sair</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div class="container">
	<div class="toast" style="position: absolute; top: 15px; right: 15px;">
		<div class="toast-header">
			<strong class="mr-auto">{{status}}</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">{{mensagem}}</div>
	</div>
	
	<form class="needs-validation" novalidate name="formUpdateDadosCliente" style="background-color: #ffffff5e; margin-top: 2%; height: 100%;" ng-submit="alterarCliente()">
		<div class="row">
			<input type="hidden" ng-model="cliLogado.cliente.id"/>
			<!-- Dados Pessoais -->
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
				<div class="form-group">
					<h5 style="text-align: center">
						<i class="fas fa-address-card"></i>&nbsp;Dados Pessoais
					</h5>
				</div>
								
				<!-- Nome do Cliente -->
				<div class="form-group">
					<label for="DadosClienteNome">Nome Completo</label> 
					<input type="text" maxlength="50" class="form-control" placeholder="Nome" id="DadosClienteNome" name="txtUpdateCliNome" title="Nome" ng-model="cliLogado.cliente.nome" readonly disabled>
				</div>
				
				<!-- Data de Nascimento do Cliente -->
				<div class="form-group">
					<label for="DadosClienteDataNascimento">Data de Nascimento</label> 
					<input type="text" class="form-control" id="DadosClienteDataNascimento" name="txtUpdateCliDataNascimento" title="Data de Nascimento" ng-model="cliLogado.cliente.dataNascimento" readonly disabled>
				</div>
				
				<!-- Sexo do Cliente -->
				<div class="form-group">
					<label for="DadosClienteSexo">Gênero</label> 
					<input type="text" class="form-control" id="DadosClienteSexo" name="txtUpdateCliGenero" title="Sexo" ng-model="cliLogado.cliente.sexo" readonly disabled>
				</div>
				
				<!-- CPF do Cliente -->
				<div class="form-group">
					<label for="DadosClienteCPF">CPF</label> 
					<input type="text" class="form-control" id="DadosClienteCPF" name="txtUpdateCliCPF" title="CPF" ng-model="cliLogado.cliente.cpf" readonly disabled>
				</div>
				
				<div class="form-group">
					<h5 style="text-align: center">
						<i class="fas fa-envelope"></i>&nbsp;Endereço
					</h5>
				</div>
				
				<!-- Cidade do Cliente -->					
				<div class="form-group">			
					<label for="DadosClienteCidade">Cidade</label>  
					<input type="text" class="form-control" id="DadosClienteCidade" name="txtUpdateCliCidade" title="Cidade" ng-model="cliLogado.cliente.cidade" readonly disabled>		
				</div>
				
				<!-- Endereço do Cliente -->					
				<div class="form-group">			
					<label for="DadosClienteEndereco">Endereço Completo</label> 
					<span ng-show="formUpdateDadosCliente.txtUpdateCliEndereco.$error.required" style="color: red;"><i>- Obrigatório</i></span>
					<input type="text" maxlength="50" class="form-control" placeholder="Endereço" id="DadosClienteEndereco" name="txtUpdateCliEndereco" title="Nome" ng-model="cliLogado.cliente.endereco">
				</div>
			</div>

			<!-- Contato e Login-->
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
				<div class="form-group">
					<h5 style="text-align: center">
						<i class="fas fa-envelope"></i>&nbsp;Contato
					</h5>
				</div>
				
				<!-- Celular do Cliente -->					
				<div class="form-group">			
					<label for="DadosClienteCelular">Celular</label> 
					<input type="text" class="form-control" id="DadosClienteCelular" name="txtUpdateCliCelular" title="Celular" ng-model="cliLogado.cliente.celular" readonly disabled>	
				</div>
				
				<!-- Email do Cliente -->
				<div class="form-group">
					<label for="DadosClienteEmail">E-mail</label> 
					<input type="email" class="form-control" placeholder="Email" id="DadosClienteEmail" name="txtUpdateCliEmail" title="Email" ng-model="cliLogado.cliente.email" readonly disabled>
				</div>

				<!-- Login -->
				<h5 style="text-align: center">
					<i class="fas fa-user"></i>&nbsp;Login
				</h5>
				
				<!-- Senha do Cliente -->
				<div class="form-group">
					<label for="DadosClienteSenha">Senha</label> 
					<span ng-show="formUpdateDadosCliente.txtUpdateCliSenha.$error.required && formUpdateDadosCliente.txtUpdateCliSenha.$dirty" style="color: red;"><i>- Obrigatório</i></span>
					<span ng-show="formUpdateDadosCliente.txtUpdateCliSenha.$error.minlength" style="color: red;"><i>- A senha deverá ter no mínimo 8 caracteres</i></span>
					<input type="password" class="form-control" placeholder="******" id="DadosClienteSenha" name="txtUpdateCliSenha" title="Senha" ng-model="cliLogado.cliente.senha" ng-minlength="8" maxlength="20" ng-model-options="{ updateOn: 'blur' }">
					<small id="passwordHelpBlock" class="form-text text-muted">Sua senha deverá possuir entre 8-20 caracteres de comprimento</small> 
				</div>
				
			</div>
			<div class="col-12" align="center">
				<a class="btn btn-primary" href="/cliente/inicio" role="button">Voltar</a>
				<button type="submit" class="btn btn-success">Salvar</button>
			</div>
		</div>
	</form>
</div>