<link href="css/dashboard.css" rel="stylesheet"/>
<link href="css/administrador.css" rel="stylesheet"/>
    <body id="page-top">
        <!-- Conteúdo -->
        <div id="wrapper">

            <!-- Sidebar Inicio-->
            <ul class="navbar-nav bg-homehelp sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Topo -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/administrador/inicio">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">HomeHelp Admin</div>
                </a>

                <!-- Divider Topo-->
                <hr class="sidebar-divider my-0">

                <!-- Sidebar Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/administrador/inicio"><i class="fas fa-home"></i><span>Início</span></a>
                </li>

                <!-- Divider Usuários-->
                <hr class="sidebar-divider">

                <!-- Titulo Sessão Usuários -->
                <div class="sidebar-heading">Usuários</div>

                <!-- Cliente -->
                <li class="nav-item">
                    <a class="nav-link" href="/administrador/cliente"><i class="fas fa-user"></i><span>Cliente</span></a>
                </li>

                <!-- Prestador -->
                <li class="nav-item">
                    <a class="nav-link" href="/administrador/prestador"><i class="fas fa-people-carry"></i><span>Prestador</span></a>
                </li>

                <!-- Administrador -->
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro/administrador"><i class="fas fa-user-cog"></i><span>Administrador</span></a>
                </li>

                <!-- Divider Habilidades e Serviços-->
                <hr class="sidebar-divider">

                <!-- Titulo Habilidades e Serviços -->
                <div class="sidebar-heading">Solicitações</div>

                <!-- Habilidades -->
                <li class="nav-item">
                    <a class="nav-link" href="/administrador/solicitacao"><i class="fas fa-book"></i><span>Solicitações</span></a>
                </li>
            </ul>
            <!-- Fim Sidebar -->
            
            <!-- Area de Conteudo -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Conteúdo Principal -->
                <div id="content">

                    <!-- Menu -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Botão Recolher Menu Responsivo -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                          <i class="fa fa-bars"></i>
                        </button>

                        <!-- Conteúdo Menu -->
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Usuário -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{adminLogado.admin.nome}}</span>
                                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                </a>
                                <!-- Dropdown - Informações -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <!-- Dados Pessoais-->
                                    <a class="dropdown-item" href="/administrador/dados-pessoais"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Dados Pessoais</a>

                                    <!-- Divisor Menu -->
                                    <div class="dropdown-divider"></div>

                                    <!-- Sair -->
                                    <a class="dropdown-item" href="/" ><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Sair</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- Fim Menu -->

<div class="container-fluid">
	
	<div class="toast" style="position: absolute; top: 15px; right: 15px;">
		<div class="toast-header">
			<strong class="mr-auto">{{status}}</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">{{mensagem}}</div>
	</div>
	
	<form novalidate name="formCadastroAdmin" style="background-color: #ffffff5e; margin-top: 2%; height: 100%;">
				<div class="row">
			<!-- Dados Pessoais -->
				<!-- Nome do Cliente -->
				<div class="form-group col-xl-4">
					<label for="ClienteNome">Nome Completo</label> 
					<input type="text" minlength="4" maxlength="150" class="form-control" placeholder="Nome" id="ClienteNome" name="txtNome" title="Nome" ng-model="admin.nome" ng-keypress="apenasLetras()" required>
				</div>
				
				<!-- Data de Nascimento do Cliente -->
				<div class="form-group col-xl-2">
					<label for="ClienteDataNascimento">Data de Nascimento</label> 
					<input type="text" class="form-control" id="ClienteDataNascimento" name="txtDtNasc" title="Data de Nascimento" ng-model="admin.dataNascimento" required>
				</div>
				
				<!-- Sexo do Gênero -->
				<div class="form-group col-xl-3">
					<label for="ClienteSexo">Gênero</label> 
					<select class="custom-select" title="Selecione o Gênero" id="ClienteSexo" name="txtSexo" ng-model="admin.sexo"  required>
						<option value=""></option>
						<option value="Masculino" title="Masculino">Masculino</option>
						<option value="Feminino" title="Feminino">Feminino</option>
						<option value="Outros e Indefinido" title="Outros e Indefinido">Outros e Indefinido</option>
					</select>
				</div>
				
				<!-- CPF do Cliente -->
				<div class="form-group col-xl-3">
					<label for="ClienteCPF">CPF</label> 
					<input type="text" class="form-control" id="ClienteCPF" name="txtCPF" title="CPF" data-mask="000.000.000-00" placeholder="000.000.000-00" data-mask-selectonfocus="true" ng-model="admin.cpf" required>
				</div>
						
				<!-- Endereço do Cliente -->					
				<div class="form-group col-xl-2">			
					<label for="ClienteEndereco">Matrícula</label> 
					<input type="text" minlength="4" maxlength="150" class="form-control" placeholder="Matricula" id="ClienteEndereco" name="txtEndereco" title="Endereco" ng-model="admin.matricula" required>
				</div>


				<!-- Celular do Cliente -->					
				<div class="form-group col-xl-3">			
					<label for="ClienteCelular">Celular</label> 
					<input type="text" class="form-control" id="ClienteCelular" name="txtCelular" title="Celular" data-mask="(00)00000-0000" placeholder="(00)00000-0000" data-mask-selectonfocus="true" ng-model="admin.celular" required>	
				</div>
				
				<!-- Email do Cliente -->
				<div class="form-group col-xl-4">
					<label for="ClienteEmail">E-mail</label> 
					<input type="email" minlength="4" maxlength="250" class="form-control" placeholder="Email" id="ClienteEmail" name="txtEmail" title="Email" ng-model="admin.email" required>
				</div>
				
				<!-- Senha do Cliente -->
				<div class="form-group col-xl-3">
					<label for="ClienteSenha">Senha</label> 
					<input type="password" class="form-control" placeholder="******" id="ClienteSenha" name="txtSenha" title="Senha" ng-model="admin.senha" ng-minlength="8" maxlength="20" required>
				</div>
		</div>
		<a class="btn btn-primary" href="/administrador/inicio" role="button">Voltar</a>
		<button type="button" class="btn btn-success" ng-disabled="formCadastroCliente.$invalid" ng-click="salvarAdministrador()">Cadastrar</button>
	</form>
</div>
<br>
<br>
<div class="col-12 table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Matrícula</th>
				<th scope="col">Nome</th>
				<th scope="col">Data Nascimento</th>
				<th scope="col">CPF</th>
				<th scope="col">Email</th>
				<th scope="col">Opção</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="adm in administradores">
				<td ng-show="adminLogado.admin.id != adm.id">{{adm.matricula}}</td>
				<td ng-show="adminLogado.admin.id != adm.id">{{adm.nome}}</td>
				<td ng-show="adminLogado.admin.id != adm.id">{{adm.dataNascimento}}</td>
				<td ng-show="adminLogado.admin.id != adm.id">{{adm.cpf}}</td>
				<td ng-show="adminLogado.admin.id != adm.id">{{adm.email}}</td>
				<td ng-show="adminLogado.admin.id != adm.id">
					<button type="button" class="btn btn-warning" ng-click="excluirAdmin(adm)">Excluir</button>
					<button type="button" class="btn btn-danger" ng-click="excluirAdmin(adm)">Excluir</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script src="js/lib/jquery.mask.min.js"></script>
