<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="/"> <img
		src="../../img/logo-nome.png" style="width: 150px;"></a>
</nav>
<div class="container">
	<div class="toast" style="position: absolute; top: 15px; right: 15px;">
		<div class="toast-header">
			<strong class="mr-auto">{{status}}</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">{{mensagem}}</div>
	</div>

	<form style="background-color: #ffffff5e; margin-top: 2%; height: 100%; padding: 2%" novalidate name="formCadastroPrestador">
		<div class="row">
			<!-- Dados Pessoais -->
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
				
				<!-- Titulo Dados Pessoais -->
				<div class="form-group">
					<h5 style="text-align: center">
						<i class="fas fa-address-card"></i>&nbsp;Dados Pessoais
					</h5>
				</div>
				<hr>
				
				<!-- Nome do Prestador -->
				<div class="form-group">
					<label for="PrestadorNome">Nome</label>
					<span ng-show="formCadastroPrestador.txtNome.$error.required && formCadastroPrestador.txtNome.$dirty" style="color: red;"><i>- Obrigatório</i></span> 
					<input type="text" class="form-control" placeholder="Nome" id="PrestadorNome" name="txtNome" title="Nome" ng-model="prestador.nome" required>
				</div>
				
				<!-- Data de Nascimento do Prestador -->
				<div class="form-group">
					<label for="PrestadorDataNascimento">Data de Nascimento</label> 
					<span ng-show="formCadastroPrestador.txtDtNasc.$error.required && formCadastroPrestador.txtDtNasc.$dirty" style="color: red;"><i>- Obrigatório</i></span>
					<input type="text" class="form-control" id="PrestadorDataNascimento" name="txtDtNasc" title="Data de Nascimento" data-mask="00/00/0000" placeholder="00/00/0000" data-mask-selectonfocus="true" ng-model="prestador.dataNascimento" required>
				</div>
				
				<!-- Sexo do Prestador -->
				<div class="form-group">
					<label for="PrestadorSexo">Sexo</label>
					<span ng-show="formCadastroPrestador.txtSexo.$error.required && formCadastroPrestador.txtSexo.$dirty" style="color: red;"><i>- Obrigatório</i></span> 
					<select class="custom-select" title="Selecionar o Sexo" id="PrestadorSexo" name="txtSexo" ng-model="prestador.sexo" required>
						<option value=""></option>
						<option value="Masculino" title="Masculino">Masculino</option>
						<option value="Feminino" title="Feminino">Feminino</option>
						<option value="Outros e Indefinido" title="Outros e Indefinido">Outros e Indefinido</option>
					</select>
				</div>
				
				<!-- CPF do Prestador -->
				<div class="form-group">
					<label for="PrestadorCPF">CPF</label> 
					<span ng-show="formCadastroPrestador.txtCPF.$error.required && formCadastroPrestador.txtCPF.$dirty" style="color: red;"><i>- Obrigatório</i></span>
					<input type="text" class="form-control" id="PrestadorCPF" name="txtCPF" title="CPF" data-mask="000.000.000-00" placeholder="000.000.000-00" data-mask-selectonfocus="true" ng-model="prestador.cpf" required>
				</div>
				
				<!-- Tipo de Prestador -->
				<div class="form-group">
					<label for="PrestadorTipo">Tipo de serviço a ser prestado</label> 
					<span ng-show="formCadastroPrestador.txtTipo.$error.required && formCadastroPrestador.txtTipo.$dirty" style="color: red;"><i>- Obrigatório</i></span>
					<select class="custom-select" title="Selecionar tipo de serviço" id="PrestadorTipo" name="txtTipo" ng-model="prestador.habilidade" required>
						<option value=""></option>
						<option value="Hidráulico" title="Hidráulico">Hidráulico</option>
						<option value="Reparos" title="Reparos">Reparos</option>
						<option value="Acabamento" title="Acabamento">Acabamento</option>
						<option value="Elétrico" title="Elétrico">Elétrico</option>
					</select>
				</div>
			</div>

			<!-- Contato -->
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
			
				<!-- Titulo Contato -->
				<div class="form-group">
					<h5 style="text-align: center">
						<i class="fas fa-envelope"></i>&nbsp;Contato
					</h5>
				</div>
				<hr>
			
				<!-- Celular do Prestador -->
				<div class="form-group">
					<label for="PrestadorCelular">Celular</label> 
					<span ng-show="formCadastroPrestador.txtCelular.$error.required && formCadastroPrestador.txtCelular.$dirty" style="color: red;"><i>- Obrigatório</i></span>
					<input type="text" class="form-control" id="PrestadorCelular" name="txtCelular" title="Celular" data-mask="(00)00000-0000" placeholder="(00)00000-0000" data-mask-selectonfocus="true" ng-model="prestador.celular" required>
				</div>
				
				<!-- Email do Prestador -->
				<div class="form-group">
					<label for="ClienteEmail">E-mail</label> 
					<span ng-show="formCadastroPrestador.txtEmail.$error.required && formCadastroPrestador.txtEmail.$dirty" style="color: red;"><i>- Obrigatório</i></span>
					<span ng-show="formCadastroPrestador.txtEmail.$error.email" style="color: red;"><i>- Email Inválido</i></span>
					<input type="email" class="form-control" placeholder="Email" id="PrestadorEmail" name="txtEmail" title="Email" ng-model="prestador.email" required>
				</div>
			
				<!-- Titulo Login -->
				<h5 style="text-align: center">
					<i class="fas fa-user"></i>&nbsp;Login
				</h5>
				<hr>
			
				<!-- Senha do Prestador-->
				<div class="form-group">
					<label for="PrestadorSenha">Senha</label> 
					<span ng-show="formCadastroPrestador.txtSenha.$error.required && formCadastroPrestador.txtSenha.$dirty" style="color: red;"><i>- Obrigatório</i></span>
					<input type="password" class="form-control" placeholder="******" id="PrestadorSenha" name="txtSenha" title="Senha" ng-model="prestador.senha" required> 
					<small id="passwordHelpBlock" class="form-text text-muted">Sua senha deverá possuir entre 8-20 caracteres de comprimento</small>
				</div>
			</div>
			
			<div class="col-12" align="center">
				<div class="form-group" align="left">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required> 
						<label class="form-check-label" for="invalidCheck"> Concordo com os termos e condições </label>
						<div class="invalid-feedback">Você deve concordar com os termos, antes de continuar.</div>
					</div>
				</div>
				<a class="btn btn-primary" href="/cadastro/opcao" role="button">Voltar</a>
				<button type="button" value="submit" ng-disabled="formCadastroPrestador.$invalid"  ng-click="salvarPrestador()" class="btn btn-success">Cadastrar</button>
			</div>
		</div>
	</form>
</div>

<script src="js/lib/jquery.mask.min.js"></script>