<!-- Estilos -->
<link href="css/index.css" rel="stylesheet"/>

<div id="page-top">    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="logo" width="60px"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger font-black" href="#Plataformas">Plataformas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger font-black" href="#Beneficios">Benefícios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger font-black" href="#Contato">Contato</a>
                    </li>
                    <li class="nav-item">
                       <button type="button" class="btn btn-outline-dark js-scroll-trigger font-black" data-toggle="modal" data-target="#TipoLoginModal">Login&nbsp;<i class="fas fa-sign-in-alt"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5" style="color: black;">Contratação de mão de obra qualificada para serviços domiciliares com o menor preço e rapidez!</h1>
                        <a href="/cadastro/opcao" class="btn btn-outline-dark btn-xl js-scroll-trigger" style="font-size: 14px;">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="download bg-primary text-center" id="Plataformas">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading">Explore a nossa solução</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="features" id="Beneficios">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Profissionais Qualificados, Qualidade Garantida</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-12 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fas fa-hand-holding-heart"></i>
                                    <h3>Fidelidade</h3>
                                    <p class="text-muted">Nosso objetivo é garantir a fidelização do cliente, pela qualidade do serviço!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fas fa-couch"></i>
                                    <h3>Comodidade</h3>
                                    <p class="text-muted">Após solicitar um profissional, ele imediatamente irá realizar o reparo em sua residência!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fas fa-lock"></i>
                                    <h3>Segurança</h3>
                                    <p class="text-muted">Nossos profissionais são pessoas confiáveis e verificadas!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fas fa-mobile"></i>
                                    <h3>Praticidade</h3>
                                    <p class="text-muted">Basta um clique e o profissional é solicitado!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Pare de Esperar.<br>Chame um Profissional.</h2>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="Contato">
        <div class="container">
            <h2>Nós <i class="fas fa-heart"></i> ajudar novas pessoas!</h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; HomeHelp 2019</p>
            <a href="/login/administrador"> Login Administrativo </a>
        </div>
    </footer>
</div>

<!-- Modal Login -->
<div class="modal" id="TipoLoginModal" tabindex="-1" role="dialog" aria-labelledby="TipoLoginModal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="TipoLoginModal">Escolha o Tipo de Login</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>		
			<div class="modal-body">
				<div class="row">
					<div class="col-12 col-xl-6">
						<div class="card bg-info text-white">
							<div class="card-body" align="center">
								<h5 class="card-title">Cliente</h5>
								<button class="btn btn-light" type="button" id="AcessoLoginCliente" ng-click="loginCliente()">Acessar</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-6">
						<div class="card bg-secondary text-white">
							<div class="card-body" align="center">
								<h5 class="card-title">Prestador</h5>
								<button class="btn btn-warning" type="button" id="AcessoLoginPrestador" ng-click="loginPrestador()">Acessar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Configuração JS -->
<script src="js/index.js"></script>