<!-- Estilos -->
<link href="css/index.css" rel="stylesheet"/>

<div>    
    <nav class="navbar navbar-light" style="position: static; margin-bottom: -85px;">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/"><img src="img/logo.png" alt="logo" width="60px"></a>            
        </div>
    </nav>    

    <section class="bg-light">
        <div class="container">
            <h1 class="mt-2 mb-5">Perguntas frequentes</h1>
            <div class="mb-3">
                <h4>O que é o HomeHelp?</h4>
                <p>É uma aplicação web que intermedia profissionais de qualidade à pessoas que necessitam de algum tipo de serviço relacionado à reparos, hidráulica, elétrica e acabamento. Trazendo falicidade, segurança e agilidade para o contratante.</p>
            </div>
            <div class="mb-3">
                <h4>Quem pode utilizar o HomeHelp?</h4>
                <p>Qualquer pessoa que seja maior de idade</p>
            </div>            
            <div class="mb-3">
                <h4>Quem pode ser profissional do HomeHelp?</h4>
                <p>Ser maior de idade, não ter antecedentes criminais e comprovar experiência em alguns de nossos tipos de serviços.</p>
            </div>
            <div class="mb-3">
                <h4>Eu pago alguma taxa para usar o HomeHelp?</h4>
                <p>Se você for contratar um profissional, não irá pagar taxas, apenas o valor do serviço. O profissinal tem taxa de 15,75% por serviço realizado</p>
            </div>
            <div class="mb-3">
                <h4></h4>
                <p></p>
            </div>
            <div class="mb-3">
                <h4></h4>
                <p></p>
            </div>
        </div>
    </section>

    <section class="contact bg-primary" id="Contato">
        <div class="container">
            <h2>Nós <i class="fas fa-heart"></i> ajudar novas pessoas!</h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">            
            <a class="mr-5 ml-2" style="color: white;" href="/perguntas-frequentes"> Perguntas frequentes </a>
            <a class="mr-5" href="/termos-condicoes"> Termos e condições </a>
            <a class="mr-5" href="/login/administrador"> Login Administrativo </a>
            <p class="mt-2">&copy; HomeHelp 2019</p>
        </div>
    </footer>
</div>

<!-- Configuração JS -->
<script src="js/index.js"></script>