<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomeHelp</title>
        
        <meta name="description" content="HomeHelp">
        <meta name="author" content="David Lira, Janilson Junior, Lucas Rosa, Matheus Frazão, Novack Borges">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="../../img/favicon.ico" type="image/x-icon" />
        
        <link rel="stylesheet" href="../../css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/all.css">
        <link href="../../css/pagina-inicial-prestador.css" rel="stylesheet" type="text/css"/>
    </head> 
    <body ng-app="app" ng-controller="DemandasCtrl">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->        
        <header><!-- Menu Superior-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo-nome.png" class="d-inline-block align-top img-fluid float-left" alt="logo-homehelp" width="150px" ></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="conteudo/reparos/reparos.html">Meus Reparos&nbsp;<i class="fas fa-toolbox"></i></a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../../img/administrador.jpg" class="d-inline-block align-top img-fluid float-left usuario rounded-circle" alt="usuario-homehelp" width="125px">
                            &nbsp;&nbsp;Matheus Lopes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="conteudo/pessoal/dados.html">Dados Pessoais</a>
                            <a class="dropdown-item" href="conteudo/profissional/profissional.html">Profissional</a>
                            <a class="dropdown-item" href="../../login.html">Sair</a>  
                        </div>
                    </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row" id="menu">
            	<div class="col-12">
            		<h2>Status</h2>
            	</div>
            	<div class="col-12 ">
                    <div class="row justify-content-center">
                  		<div class="col-4">
                  		<button type="button" class="btn btn-lg btn-block" ng-class="isAtivo.status ? 'btn-success' : 'btn-dark'" id="StatusPrestador" value="{{isAtivo.status}}" ng-click="status()">{{valor}}</button>
                    	</div>
                    </div>
                </div>
				<div class="col-12">
            		<h2>Solicitações Disponíveis</h2>
            	</div>
            	<div class="col-12 table-responsive">
		            <table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">Cliente</th>
					      <th scope="col">Endereço</th>
					      <th scope="col">Horário</th>
					      <th scope="col">Opção</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="demanda in demandasDisponiveis">	      
					      <td>{{demanda.cliente}}</td>
					      <td>{{demanda.nomeCliente}}</td>
					      <td>{{demanda.horario}}</td>
					      <td></td>
					    </tr>
					  </tbody>
					</table>
                </div>
            </div>
        </div>
        
        <!-- Bibliotecas JavaScript -->
        <script src="../../js/lib/jquery-3.4.1.min.js"></script>
        <script src="../../js/lib/bootstrap.bundle.min.js"></script>
        <script src="../../js/lib/angular.min.js"></script>
        
        <!-- Controllers Angular -->
         <script src="../../controllers/main.js"></script>
         <script src="../../controllers/demandas.js"></script>
                
    </body>
</html>