<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="EditarPagamentoPrestadorModal">Editar Pagamento do Prestador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="post">
                <div class="row">
                    <!-- Prestador Banco -->
                    <div class="form-group col-12">
                        <label for="PrestadorBanco">Banco</label>
                        <select class="custom-select" id="PrestadorBanco" required title="Banco da Conta do Prestador">
                            <option value=""></option>
                            <option value="1">Banco do Brasil</option>
                            <option value="2">Caixa Econômica</option>
                            <option value="3">Santander</option>
                            <option value="4">Bradesco</option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
                    <!-- Prestador Agência -->
                    <div class="form-group col-12">
                        <label for="PrestadorContaAgencia">Agência</label>
                        <input type="text" class="form-control" id="PrestadorContaAgencia" title="Agência da Conta do Prestador">
                    </div>
                    <!-- Prestador Conta -->
                    <div class="form-group col-12">
                        <label for="PrestadorNumeroConta">Conta</label>
                        <input type="text" class="form-control" id="PrestadorNumeroConta" title="Número da Conta do Prestador">
                    </div>
                    <!-- Prestador CPF -->
                    <div class="form-group col-12">
                        <label for="PrestadorContaCPF">CPF</label>
                        <input type="text" class="form-control" id="PrestadorContaCPF" title="CPF da Conta do Prestador">
                    </div>                         
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" id="FecharEditarPrestadorPagamento" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-outline-success" id="SalvarEditarPrestadorPagamento">Salvar</button>
        </div>
    </div>
</div>