<link href="css/menu.css" rel="stylesheet"/>
<header>
	<!-- Menu Superior-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
		<a class="navbar-brand" href="/cliente/inicio"><img
			src="../../img/logo-nome.png"
			class="d-inline-block align-top img-fluid float-left"
			alt="logo-homehelp" style="width: 150px;"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/cliente/solicitacoes">Minhas Solicitações &nbsp;<i class="fas fa-archive"></i></a>
				</li>
				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
						<img src="../../img/administrador.jpg" class="d-inline-block align-top img-fluid float-left usuario rounded-circle" alt="usuario-homehelp" width="125px"> &nbsp;&nbsp;Lucas Rosa
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/cliente/dados-pessoais">Dados Pessoais</a>
						<a class="dropdown-item" href="/cliente/configuracao">Configurações</a> 
						<a class="dropdown-item" href="/">Sair</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>
<div class="container">

	<div class="toast" style="position: absolute; top: 15px; right: 15px;">
		<div class="toast-header">
			<strong class="mr-auto">{{status}}</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">{{mensagem}}</div>
	</div>
	
	<div class="row" style="padding-top: 10px;">
		<div class="col-12 col-xl-3">
			<div class="card text-center">
				<img src="img/hidraulica.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Hidráulica</h5>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HidraulicaModal">Solicitar</button> 
					<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="RTLUUSG6R2S7J">
						<input type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
					</form>	-->
				</div>
			</div>
		</div>
		
		<div class="col-12 col-xl-3">
			<div class="card text-center">
				<img src="img/reparo.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Reparos</h5>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ReparosModal">Solicitar</button> 
					<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="66WZT3E6H4G9N">
						<input type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
					</form> -->
				</div>
			</div>
		</div>

		<div class="col-12 col-xl-3">
			<div class="card text-center">
				<img src="img/acabamento.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Acabamento</h5>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AcabamentoModal">Solicitar</button>
					<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="EB5QKXJNBJEVE">
						<input type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
					</form> -->
				</div>
			</div>
		</div>
		
		<div class="col-12 col-xl-3">
			<div class="card text-center">
				<img src="img/eletrica.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Eletricista</h5>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EletricistaModal">Solicitar</button>
					<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="XMXLCUYA258P6">
						<input type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
					</form> -->
				</div>
			</div>
		</div>
	</div>

	<!-- Hidráulica -->
	<div class="modal" id="HidraulicaModal" tabindex="-1" role="dialog" aria-labelledby="HidraulicaModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="HidraulicaModal">Hidráulica</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        </div>
		        <div class="modal-body">
		        	<form novalidade name="formSolicitaHidraulica">
			            <div class="row">
			                <div class="col-12 col-xl-2 form-group">
			                    <label for="HorarioHidraulica">Horário</label>
			                    <input type="text" class="form-control" id="HorarioHidraulica" name="txtHorarioHidro" data-mask="00:00" placeholder="00:00" data-mask-selectonfocus="true" ng-model="hidraulica.horario" required>
			                </div>
			                <div class="col-12 col-xl-6 form-group">
			                    <label for="EnderecoHidraulica">Endereço</label>
			                    <input type="text" class="form-control" id="EnderecoHidraulica" name="txtEnderecoHidro" ng-model="hidraulica.endereco" required>
			                    <small id="passwordHelpBlock" class="form-text text-muted">
									Caso deseje alterar o endereço, altere <button type="button" class="btn btn-link" ng-click="mudarEmail()">aqui</button></a>
								</small>
			                </div>
			                <div class="col-12 col-xl-4 form-group">
			                    <label for="TipoHidraulica">Tipo de Serviço</label>
			                    <select class="custom-select" ng-model="hidraulica.tipo_servico" name="txtTipoHidro" required>
									<option value=""></option>
									<option value="Instalação de Tomada">Instalação de Tomada</option>
									<option value="Troca de chuveiro">Troca de chuveiro</option>
								</select>
			                </div>
			                <div class="col-12 col-xl-12 form-group">
								<div class="row justify-content-center">
									<div class="col-12 col-xl-2">
										<button type="button" class="btn btn-success" ng-click="solicitarHidraulica()">Contratar</button>
									</div>	
								</div>
			                </div>
			           </div>
	               </form>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Reparos -->
	<div class="modal fade" id="ReparosModal" tabindex="-1" role="dialog" aria-labelledby="ReparosModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="ReparosModal">Reparos</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        </div>
		        <div class="modal-body">
		        	<form novalidade name="formSolicitaReparos">
			            <div class="row">
			                <div class="col-12 col-xl-2 form-group">
			                    <label for="HorarioReparos">Horário</label>
			                    <input type="text" class="form-control" id="HorarioReparos" name="txtHorarioRep" data-mask="00:00" placeholder="00:00" data-mask-selectonfocus="true" ng-model="reparo.horario" required>
			                </div>
			                <div class="col-12 col-xl-6 form-group">
			                    <label for="EnderecoReparos">Endereço</label>
			                    <input type="text" class="form-control" id="EnderecoReparos" name="txtEnderecoRep" ng-model="reparo.endereco" required>
			                    <!--  <small id="passwordHelpBlock" class="form-text text-muted">
									Caso deseje alterar o endereço, altere <button type="button" class="btn btn-link" ng-click="mudarEmail()">aqui</button></a>
								</small>  -->
			                </div>
			                <div class="col-12 col-xl-4 form-group">
			                    <label for="TipoReparos">Tipo de Serviço</label>
			                    <select class="custom-select" ng-model="reparo.tipo_servico" name="txtTipoRep" required>
									<option value=""></option>
									<option value="Instalação de Tomada">Parede</option>
									<option value="Troca de chuveiro">Vazamento</option>
								</select>
			                </div>
			                <div class="col-12 col-xl-12 form-group">
								<div class="row justify-content-center">
									<div class="col-12 col-xl-2">
										<button type="button" class="btn btn-success" ng-click="solicitarReparos()">Contratar</button>
									</div>	
								</div>
			                </div>
			           </div>
	               </form>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Acabamento -->
	<div class="modal fade" id="AcabamentoModal" tabindex="-1" role="dialog" aria-labelledby="AcabamentoModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="AcabamentoModal">Acabamento</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        </div>
		        <div class="modal-body">
		        	<form novalidade name="formSolicitaAcabamento">
			            <div class="row">
			                <div class="col-12 col-xl-2 form-group">
			                    <label for="HorarioAcabamento">Horário</label>
			                    <input type="text" class="form-control" id="HorarioAcabamento" name="txtHorario" data-mask="00:00" placeholder="00:00" data-mask-selectonfocus="true" ng-model="acabamento.horario" required>
			                </div>
			                <div class="col-12 col-xl-6 form-group">
			                    <label for="EnderecoAcabamento">Endereço</label>
			                    <input type="text" class="form-control" id="EnderecoAcabamento" name="txtEndereco" ng-model="acabamento.endereco" required>
			                    <!-- <small id="passwordHelpBlock" class="form-text text-muted">
									Caso deseje alterar o endereço, altere <button type="button" class="btn btn-link" ng-click="mudarEmail()">aqui</button></a>
								</small>  -->
			                </div>
			                <div class="col-12 col-xl-4 form-group">
			                    <label for="TipoAcabamento">Tipo de Serviço</label>
			                    <select class="custom-select" ng-model="acabamento.tipo_servico" name="txtTipo" required>
									<option value=""></option>
									<option value="Instalação de Tomada">Instalação de Tomada</option>
									<option value="Troca de chuveiro">Troca de chuveiro</option>
								</select>
			                </div>
			                <div class="col-12 col-xl-12 form-group">
								<div class="row justify-content-center">
									<div class="col-12 col-xl-2">
										<button type="button" class="btn btn-success" ng-click="solicitarAcabamento()">Contratar</button>
									</div>	
								</div>
			                </div>
			           </div>
	               </form>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Eletricista -->
	<div class="modal fade" id="EletricistaModal" tabindex="-1" role="dialog" aria-labelledby="EletricistaModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="EletricistaModal">Eletricista</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        </div>
		        <div class="modal-body">
		        	<form novalidade name="formSolicitaHidraulica">
			            <div class="row">
			                <div class="col-12 col-xl-2 form-group">
			                    <label for="HorarioEletricista">Horário</label>
			                    <input type="text" class="form-control" id="HorarioEletricista" name="txtHorario" data-mask="00:00" placeholder="00:00" data-mask-selectonfocus="true" ng-model="eletricista.horario" required>
			                </div>
			                <div class="col-12 col-xl-6 form-group">
			                    <label for="EnderecoEletricista">Endereço</label>
			                    <input type="text" class="form-control" id="EnderecoEletricista" name="txtEndereco" ng-model="eletricista.endereco" required>
			                    <!-- <small id="passwordHelpBlock" class="form-text text-muted">
									Caso deseje alterar o endereço, altere <button type="button" class="btn btn-link" ng-click="mudarEmail()">aqui</button></a>
								</small>  -->
			                </div>
			                <div class="col-12 col-xl-4 form-group">
			                    <label for="TipoEletricista">Tipo de Serviço</label>
			                    <select class="custom-select" ng-model="eletricista.tipo_servico" name="txtTipo" required>
									<option value=""></option>
									<option value="Instalação de Tomada">Instalação de Tomada</option>
									<option value="Troca de chuveiro">Troca de chuveiro</option>
								</select>
			                </div>
			                <div class="col-12 col-xl-12 form-group">
								<div class="row justify-content-center">
									<div class="col-12 col-xl-2">
										<button type="button" class="btn btn-success" ng-click="solicitarEletricista()">Contratar</button>
									</div>	
								</div>
			                </div>
			           </div>
	               </form>
		        </div>
		    </div>
		</div>
	</div>
</div>



<script src="js/lib/jquery.mask.min.js"></script>