<link href="css/menu.css" rel="stylesheet"/>
<header>
	<!-- Menu Superior-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
		<a class="navbar-brand" href="/cliente/inicio"><img
			src="../../img/logo-nome.png"
			class="d-inline-block align-top img-fluid float-left"
			alt="logo-homehelp" style="width: 150px;"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/cliente/solicitacoes">Minhas Solicitações &nbsp;<i class="fas fa-archive"></i></a>
				</li>
				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
						<img src="../../img/administrador.jpg" class="d-inline-block align-top img-fluid float-left usuario rounded-circle" alt="usuario-homehelp" width="125px"> &nbsp;&nbsp;Lucas Rosa
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/cliente/dados-pessoais">Dados Pessoais</a>
						<a class="dropdown-item" href="/cliente/pagamento">Pagamento</a>
						<a class="dropdown-item" href="/cliente/configuracao">Configurações</a> 
						<a class="dropdown-item" href="/">Sair</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>
<div class="container">
	<div class="row" style="padding-top: 10px;">
		<div class="col-12 col-xl-3">
			<div class="card text-center">
				<img src="img/hidraulica.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Hidráulica</h5>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HidraulicaModal">Solicitar</button>
				</div>
			</div>
		</div>
		
		<div class="col-12 col-xl-3">
			<div class="card text-center">
				<img src="img/reparo.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Reparos</h5>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ReparosModal">Solicitar</button>
				</div>
			</div>
		</div>

		<div class="col-12 col-xl-3">
			<div class="card text-center">
				<img src="img/acabamento.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Acabamento</h5>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AcabamentoModal">Solicitar</button>
				</div>
			</div>
		</div>
		
		<div class="col-12 col-xl-3">
			<div class="card text-center">
				<img src="img/eletrica.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Eletricista</h5>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EletricistaModal">Solicitar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Hidráulica -->
	<div class="modal" id="HidraulicaModal" tabindex="-1" role="dialog" aria-labelledby="HidraulicaModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="HidraulicaModal">Hidráulica</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        </div>
		        <div class="modal-body">
		        	<form novalidade name="formSolicitaHidraulica">
			            <div class="row">
			                <div class="col-12 col-xl-2 form-group">
			                    <label for="HorarioHidraulica">Horário</label>
			                    <input type="text" class="form-control" id="HorarioHidraulica" name="txtHorario" data-mask="00:00" placeholder="00:00" data-mask-selectonfocus="true" ng-model="hidraulica.horário" required>
			                </div>
			                <div class="col-12 col-xl-6 form-group">
			                    <label for="EnderecoHidraulica">Endereço</label>
			                    <input type="text" class="form-control" id="EnderecoHidraulica" name="txtEndereco" ng-model="hidraulica.endereco" required disabled readonly>
			                    <small id="passwordHelpBlock" class="form-text text-muted">
									Caso deseje alterar o endereço, altere <button type="button" class="btn btn-link" ng-click="mudarEmail()">aqui</button>aqui</a>
								</small>
			                </div>
			                <div class="col-12 col-xl-4 form-group">
			                    <label for="TipoHidraulica">Tipo de Serviço</label>
			                    <select class="custom-select" ng-model="hidraulica.tipo" name="txtTipo" required>
									<option value=""></option>
									<option value="Instalação de Tomada">Instalação de Tomada</option>
									<option value="Troca de chuveiro">Troca de chuveiro</option>
								</select>
			                </div>
			                <div class="col-12 col-xl-12 form-group">
								<div class="row justify-content-center">
									<div class="col-2">
										<button type="button" class="btn btn-success" ng-disabled="formSolicitaHidraulica.$invalid" ng-click="solicitarHidraulica()">Contratar</button>
									</div>
								</div>
			                </div>
			           </div>
	               </form>
	               <!-- 
		                <div class="col-12 table-responsive">
		                    <table class="table table-dark">
		                        <thead>
		                            <tr>
		                                <th scope="col">#</th>
		                                <th scope="col">Nome</th>
		                                <th scope="col">Preço</th>
		                                <th scope="col">Opçãoo</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="disponivel in profissionalDisponivel">
		                                <th scope="row" ng-show="disponivel.status">{{disponivel.id}}</th>
		                                <td ng-show="disponivel.status" ng-model="solicitacao.prestador">{{disponivel.prestador}}</td>
		                                <td ng-show="disponivel.status">{{disponivel.status}}</td>
		                                <td ng-show="disponivel.status">
		                                    <button type="button" class="btn btn-success" ng-click="solicitarHidraulica()">Contratar</button>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		                </div>
		         
		         -->
		        </div>
		    </div>
		</div>
	</div>

	<!-- Reparos -->
	<div class="modal fade" id="ReparosModal" tabindex="-1" role="dialog" aria-labelledby="ReparosModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="HidraulicaModal">Reparos</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        </div>
		        <div class="modal-body">
		            <div class="row">
		                <div class="form-group col-4">
		                    <label for="horario">Horário</label>
		                    <input type="text" class="form-control" id="horario" data-mask="00/00/0000" data-mask-reverse="true" ng-model="solicitacao.horario">
		                </div>
		                <div class="col-8 form-group">
		                    <label for="endereco">Endereço</label>
		                    <input type="text" class="form-control" id="endereco" ng-model="solicitacao.endereco">
		                </div>
		                <div class="col-12 table-responsive">
		                    <table class="table table-dark">
		                        <thead>
		                            <tr>
		                                <th scope="col">#</th>
		                                <th scope="col">Nome</th>
		                                <th scope="col">Preço</th>
		                                <th scope="col">Opção</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="disponivel in profissionalDisponivel">
		                                <th scope="row" ng-show="disponivel.status">{{disponivel.id}}</th>
		                                <td ng-show="disponivel.status" ng-model="solicitacao.prestador">{{disponivel.prestador}}</td>
		                                <td ng-show="disponivel.status">{{disponivel.status}}</td>
		                                <td ng-show="disponivel.status">
		                                    <button type="button" class="btn btn-success" ng-click="solicitarHidraulica()">Contratar</button>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Acabamento -->
	<div class="modal fade" id="AcabamentoModal" tabindex="-1" role="dialog" aria-labelledby="AcabamentoModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="HidraulicaModal">Acabamentos</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        </div>
		        <div class="modal-body">
		            <div class="row">
		                <div class="col-4 form-group">
		                    <label for="horario">Horário</label>
		                    <input type="text" class="form-control" id="horario" data-mask="00:00" placeholder="00:00" data-mask-selectonfocus="true" ng-model="solicitacao.horario">
		                </div>
		                <div class="col-8 form-group">
		                    <label for="horario">Endereço</label>
		                    <input type="text" class="form-control" id="endereco" ng-model="solicitacao.endereco">
		                </div>
		                <div class="col-12 table-responsive">
		                    <table class="table table-dark">
		                        <thead>
		                            <tr>
		                                <th scope="col">#</th>
		                                <th scope="col">Nome</th>
		                                <th scope="col">Preço</th>
		                                <th scope="col">Opção</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="disponivel in profissionalDisponivel">
		                                <th scope="row" ng-show="disponivel.status">{{disponivel.id}}</th>
		                                <td ng-show="disponivel.status" ng-model="solicitacao.prestador">{{disponivel.prestador}}</td>
		                                <td ng-show="disponivel.status">{{disponivel.status}}</td>
		                                <td ng-show="disponivel.status">
		                                    <button type="button" class="btn btn-success" ng-click="solicitarAcabamento()">Contratar</button>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Eletricista -->
	<div class="modal fade" id="EletricistaModal" tabindex="-1" role="dialog" aria-labelledby="EletricistaModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="HidraulicaModal">Eletricista</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        </div>
		        <div class="modal-body">
		            <div class="row">
		                <div class="col-4 form-group">
		                    <label for="horario">Horário</label>
		                    <input type="text" class="form-control" id="horario" data-mask="00:00" placeholder="00:00" data-mask-selectonfocus="true" ng-model="solicitacao.horario">
		                </div>
		                <div class="col-8 form-group">
		                    <label for="endereco">Endereço</label>
		                    <input type="text" class="form-control" id="endereco" ng-model="solicitacao.endereco">
		                </div>
		                <div class="col-12 table-responsive">
		                    <table class="table table-dark">
		                        <thead>
		                            <tr>
		                                <th scope="col">#</th>
		                                <th scope="col">Nome</th>
		                                <th scope="col">Preço</th>
		                                <th scope="col">Opção</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="disponivel in profissionalDisponivel">
		                                <th scope="row" ng-show="disponivel.status">{{disponivel.id}}</th>
		                                <td ng-show="disponivel.status" ng-model="solicitacao.prestador">{{disponivel.prestador}}</td>
		                                <td ng-show="disponivel.status">{{disponivel.status}}</td>
		                                <td ng-show="disponivel.status">
		                                    <button type="button" class="btn btn-success" ng-click="solicitarHidraulica()">Contratar</button>
		                                </td>
		                            </tr>
		                        </tbody> 
		                    </table>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>

<script src="js/lib/jquery.mask.min.js"></script>