<link href="css/dashboard.css" rel="stylesheet"/>
<link href="css/administrador.css" rel="stylesheet"/>
    <body id="page-top">
        <!-- Conteúdo -->
        <div id="wrapper">

            <!-- Sidebar Inicio-->
            <ul class="navbar-nav bg-homehelp sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Topo -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/administrador/inicio">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">HomeHelp Admin</div>
                </a>

                <!-- Divider Topo-->
                <hr class="sidebar-divider my-0">

                <!-- Sidebar Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/administrador/inicio"><i class="fas fa-home"></i><span>Início</span></a>
                </li>

                <!-- Divider Usuários-->
                <hr class="sidebar-divider">

                <!-- Titulo Sessão Usuários -->
                <div class="sidebar-heading">Usuários</div>

                <!-- Cliente -->
                <li class="nav-item">
                    <a class="nav-link" href="cliente.html"><i class="fas fa-user"></i><span>Cliente</span></a>
                </li>

                <!-- Prestador -->
                <li class="nav-item">
                    <a class="nav-link" href="prestador.html"><i class="fas fa-people-carry"></i><span>Prestador</span></a>
                </li>

                <!-- Administrador -->
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro/administrador"><i class="fas fa-user-cog"></i><span>Administrador</span></a>
                </li>

                <!-- Divider Habilidades e Serviços-->
                <hr class="sidebar-divider">

                <!-- Titulo Habilidades e Serviços -->
                <div class="sidebar-heading">Solicitações e Serviços</div>

                <!-- Habilidades -->
                <li class="nav-item">
                    <a class="nav-link" href="habilidades.html"><i class="fas fa-book"></i><span>Solicitações</span></a>
                </li>

                <!-- Serviços -->
                <li class="nav-item">
                    <a class="nav-link" href="servicos.html"><i class="fas fa-briefcase"></i><span>Serviços</span></a>
                </li>
            </ul>
            <!-- Fim Sidebar -->