<link href="css/dashboard.css" rel="stylesheet"/>
<link href="css/administrador.css" rel="stylesheet"/>
    <body id="page-top">
        <!-- Conteúdo -->
        <div id="wrapper">

            <!-- Sidebar Inicio-->
            <ul class="navbar-nav bg-homehelp sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Topo -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/administrador/inicio">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">HomeHelp Admin</div>
                </a>

                <!-- Divider Topo-->
                <hr class="sidebar-divider my-0">

                <!-- Sidebar Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/administrador/inicio"><i class="fas fa-home"></i><span>Início</span></a>
                </li>

                <!-- Divider Usuários-->
                <hr class="sidebar-divider">

                <!-- Titulo Sessão Usuários -->
                <div class="sidebar-heading">Usuários</div>

                <!-- Cliente -->
                <li class="nav-item">
                    <a class="nav-link" href="cliente.html"><i class="fas fa-user"></i><span>Cliente</span></a>
                </li>

                <!-- Prestador -->
                <li class="nav-item">
                    <a class="nav-link" href="prestador.html"><i class="fas fa-people-carry"></i><span>Prestador</span></a>
                </li>

                <!-- Administrador -->
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro/administrador"><i class="fas fa-user-cog"></i><span>Administrador</span></a>
                </li>

                <!-- Divider Habilidades e Serviços-->
                <hr class="sidebar-divider">

                <!-- Titulo Habilidades e Serviços -->
                <div class="sidebar-heading">Solicitações e Serviços</div>

                <!-- Habilidades -->
                <li class="nav-item">
                    <a class="nav-link" href="habilidades.html"><i class="fas fa-book"></i><span>Solicitações</span></a>
                </li>

                <!-- Serviços -->
                <li class="nav-item">
                    <a class="nav-link" href="servicos.html"><i class="fas fa-briefcase"></i><span>Serviços</span></a>
                </li>
            </ul>
            <!-- Fim Sidebar -->

            <!-- Area de Conteudo -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Conteúdo Principal -->
                <div id="content">

                    <!-- Menu -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Botão Recolher Menu Responsivo -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                          <i class="fa fa-bars"></i>
                        </button>

                        <!-- Conteúdo Menu -->
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Usuário -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{adminLogado.admin.nome}}</span>
                                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                </a>
                                <!-- Dropdown - Informações -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <!-- Dados Pessoais-->
                                    <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Dados Pessoais</a>

                                    <!-- Divisor Menu -->
                                    <div class="dropdown-divider"></div>

                                    <!-- Sair -->
                                    <a class="dropdown-item" href="/" ><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Sair</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- Fim Menu -->

                    <!-- Inicio Conteudo -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Informações</h1>
                        </div>

                        <!-- Content Row -->
                        <div class="row">
                            <!-- Quantidade de Usuários -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Usuários</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">10.000</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Quantidade de Prestadores -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Prestadores</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">5.000</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Quantidade de Ganhos -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ganhos</div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">R$200.000,00</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Total de Solicitações Atendidas -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Reparos Realizados</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">5.000</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim Conteúdo -->
                </div>
                <!-- Fim Conteúdo Principal -->
            </div>
            <!-- Fim Área do Conteúdo -->
        </div>
        <!-- Fim Conteúdo -->