<link href="css/dashboard.css" rel="stylesheet"/>
<link href="css/administrador.css" rel="stylesheet"/>
    <body id="page-top">
        <!-- Conteúdo -->
        <div id="wrapper">
            <!-- Sidebar Inicio-->
            <ul class="navbar-nav bg-homehelp sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Topo -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/administrador/inicio">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">HomeHelp Admin</div>
                </a>

                <!-- Divider Topo-->
                <hr class="sidebar-divider my-0">

                <!-- Sidebar Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/administrador/inicio"><i class="fas fa-home"></i><span>Início</span></a>
                </li>

                <!-- Divider Usuários-->
                <hr class="sidebar-divider">

                <!-- Titulo Sessão Usuários -->
                <div class="sidebar-heading">Usuários</div>

                <!-- Cliente -->
                <li class="nav-item">
                    <a class="nav-link" href="/administrador/cliente"><i class="fas fa-user"></i><span>Cliente</span></a>
                </li>

                <!-- Prestador -->
                <li class="nav-item">
                    <a class="nav-link active" href="/administrador/prestador"><i class="fas fa-people-carry"></i><span>Prestador</span></a>
                </li>

                <!-- Administrador -->
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro/administrador"><i class="fas fa-user-cog"></i><span>Administrador</span></a>
                </li>

                <!-- Divider Habilidades e Serviços-->
                <hr class="sidebar-divider">

                <!-- Titulo Habilidades e Serviços -->
                <div class="sidebar-heading">Solicitações</div>

                <!-- Habilidades -->
                <li class="nav-item">
                    <a class="nav-link" href="/administrador/solicitacao"><i class="fas fa-book"></i><span>Solicitações</span></a>
                </li>
            </ul>
            <!-- Fim Sidebar -->
            
            <!-- Area de Conteudo -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Conteúdo Principal -->
                <div id="content">

                    <!-- Menu -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Botão Recolher Menu Responsivo -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                          <i class="fa fa-bars"></i>
                        </button>

                        <!-- Conteúdo Menu -->
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Usuário -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{adminLogado.admin.nome}}</span>
                                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                </a>
                                <!-- Dropdown - Informações -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <!-- Dados Pessoais-->
                                    <a class="dropdown-item" href="/administrador/dados-pessoais"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Dados Pessoais</a>

                                    <!-- Divisor Menu -->
                                    <div class="dropdown-divider"></div>

                                    <!-- Sair -->
                                    <a class="dropdown-item" href="/" ><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Sair</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- Fim Menu -->

<div class="container-fluid">
	<div class="toast" style="position: absolute; top: 15px; right: 15px;">
		<div class="toast-header">
			<strong class="mr-auto">{{status}}</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">{{mensagem}}</div>
	</div>

	<form style="background-color: #ffffff5e; margin-top: 2%; height: 100%; padding: 2%" novalidate name="formCadastroPrestador">
		<div class="row">
				<!-- Nome do Prestador -->
				<div class="form-group col-xl-4">
					<label for="PrestadorNome">Nome</label>
					<input type="text" minlength="4" maxlength="150" class="form-control" placeholder="Nome" id="PrestadorNome" name="txtNome" title="Nome" ng-model="prestador.nome" ng-keypress="apenasLetras()" required>
				</div>
				
				<!-- Data de Nascimento do Prestador -->
				<div class="form-group col-xl-2">
					<label for="PrestadorDataNascimento">Data de Nascimento</label> 
					<input type="text" class="form-control" id="PrestadorDataNascimento" name="txtDtNasc" title="Data de Nascimento" ng-model="prestador.dataNascimento" required>
				</div>
				
				<!-- Sexo do Prestador -->
				<div class="form-group col-xl-3">
					<label for="PrestadorSexo">Gênero</label>
					<select class="custom-select" title="Selecionar o Sexo" id="PrestadorSexo" name="txtSexo" ng-model="prestador.sexo" required>
						<option value=""></option>
						<option value="Masculino" title="Masculino">Masculino</option>
						<option value="Feminino" title="Feminino">Feminino</option>
						<option value="Outros e Indefinido" title="Outros e Indefinido">Outros e Indefinido</option>
					</select>
				</div>
				
				<!-- CPF do Prestador -->
				<div class="form-group col-xl-3">
					<label for="PrestadorCPF">CPF</label> 
					<input type="text" class="form-control" id="PrestadorCPF" name="txtCPF" title="CPF" data-mask="000.000.000-00" placeholder="000.000.000-00" data-mask-selectonfocus="true" ng-model="prestador.cpf" required>
				</div>
				
				<!-- Tipo de Prestador -->
				<div class="form-group col-xl-3">
					<label for="PrestadorTipo">Tipo de serviço a ser prestado</label> 
					<select class="custom-select" title="Selecionar tipo de serviço" id="PrestadorTipo" name="txtTipo" ng-model="prestador.habilidade" required>
						<option value=""></option>
						<option value="Hidraulica" title="Hidraulica">Hidraulica</option>
						<option value="Reparo" title="Reparos">Reparo</option>
						<option value="Acabamento" title="Acabamento">Acabamento</option>
						<option value="Eletricista" title="Eletricista">Eletricista</option>
					</select>
				</div>

				<!-- Celular do Prestador -->
				<div class="form-group col-xl-3">
					<label for="PrestadorCelular">Celular</label> 
					<input type="text" class="form-control" id="PrestadorCelular" name="txtCelular" title="Celular" data-mask="(00)00000-0000" placeholder="(00)00000-0000" data-mask-selectonfocus="true" ng-model="prestador.celular" required>
				</div>
				
				<!-- Email do Prestador -->
				<div class="form-group col-xl-3">
					<label for="ClienteEmail">E-mail</label> 
					<input type="email" minlength="4" maxlength="250" class="form-control" placeholder="Email" id="PrestadorEmail" name="txtEmail" title="Email" ng-model="prestador.email" required>
				</div>
			
				<!-- Senha do Prestador-->
				<div class="form-group col-xl-3">
					<label for="PrestadorSenha">Senha</label> 
					<input type="password" class="form-control" placeholder="******" id="PrestadorSenha" name="txtSenha" title="Senha" ng-model="prestador.senha" ng-minlength="8" maxlength="20" required> 
				</div>
			</div>
			
			<a class="btn btn-primary" href="/administrador/inicio" role="button">Voltar</a>
			<button type="button" value="submit" ng-disabled="formCadastroPrestador.$invalid"  ng-click="salvarPrestadorAdmin()" class="btn btn-success">Cadastrar</button>
			</div>
		</div>
	</form>
	<br>
<br>
<div class="col-12 table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">CPF</th>
				<th scope="col">Data Nascimento</th>
				<th scope="col">Email</th>
				<th scope="col">Telefone</th>
				<th scope="col">Opção</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pres in prestadores">
				<td>{{pres.nome}}</td>
				<td>{{pres.cpf}}</td>
				<td>{{pres.dataNascimento}}</td>
				<td>{{pres.email}}</td>
				<td>{{pres.celular}}</td>
				<td>
					<button type="button" class="btn btn-danger" ng-show="pres.status_conta == false" ng-click="ativarPrestador(pres)">Ativar</button>
					<button type="button" class="btn btn-danger" ng-click="excluirPrestador(pres)">Excluir</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>

<script src="js/lib/jquery.mask.min.js"></script>